<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Calculator App</title>
</head>
<body>
	<h1>Calculator</h1>
	<h2>Two-Argument Operations:</h2>
	<form action="/" method="post">
		<input type="number" name="firstNumber" required> <select
			name="operator">
			<option>+</option>
			<option>-</option>
			<option>*</option>
			<option>/</option>
			<option>^</option>
			<option>√</option>
			<option>log</option>
		</select> <input type="number" name="secondNumber" required>
		<button>Calculate</button>
	</form>
	<p>Your result is: {{ regularCalculator.getResult }}</p>
	<ul>
		{{#regularCalculator.previousAttempts}}
		<li>{{ . }}</li> {{/regularCalculator.previousAttempts}}
	</ul>
	<h2>One-Argument Operations:</h2>
	<form action="/" method="post">
		<select name="trigOperator">
			<option>sin</option>
			<option>cos</option>
			<option>tan</option>
		</select> <input type="number" name="trigNumber" required>
		<button>Calculate</button>
	</form>
	<p>Your result is: {{ trigCalculator.getResult }}</p>
	<ul>
		{{#trigCalculator.previousAttempts}}
		<li>{{ . }}</li> {{/trigCalculator.previousAttempts}}
	</ul>
	<h2>Free-form Operations:</h2>
	<p>Known issues with the free-form functionality:</p>
	<ul>
		<li>The calculation only supports single digit numbers.</li>
		<li>The calculation doesn't support parentheses or exponents.</li>
		<li>The order of operations is not exact. Multiplication always comes before Division and Addition always comes before Subtraction in the code.</li>
		<li>The calculation doesn't work when doing the same operation multiple times (i.e. 4+4+4+4).</li>
	</ul>
	<form action="/" method="post">
		<input type="text" name="expression" required>
		<button>Calculate</button>
	</form>
	<p>Your result is: {{ manualCalculator.getResult }}</p>
	<ul>
		{{#manualCalculator.previousAttempts}}
		<li>{{ . }}</li> {{/manualCalculator.previousAttempts}}
	</ul>
	<br>
</body>
</html>